
p
{
	font-size : 18px;
	text-align: justify;
}

ul {
	font-size : 18px;
	text-align: justify;
}

body {
background-color: #EEE;
text-align: justify;
line-height: 30px
}

blockquote {
font-size : 18px;
background-color: #EEE;
text-align: justify;
line-height: 30px
}

h1 {color: dimgrey;
font-size: 35px;
font-family: Comic Sans Ms, Arial Black, Impact;
}

h2 {color: dimgrey;
font-size: 30px;
font-family: Comic Sans Ms, Arial Black, Impact;
}